html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "futura-pt", "futura-pt-bold", "Helvetica Neue", Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2%;
}
a {
  text-decoration: none;
  color: rgb(8, 38, 122);
}
p, li {
font-size: 1.1rem;
}